@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rozha+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

#header-g img {
  width: 100%;
}

#nav-g {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  width: 90vw;
  padding-left: 10vw;
  background-color: #0F4D90;
  position: fixed;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
}
#nav-g a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Libre Baskerville", serif;
  font-size: 0.75rem;
}
#nav-g img {
  height: 80%;
}
#nav-g #logo {
  position: absolute;
  height: 150%;
  left: 1rem;
  top: 0.1rem;
}
#nav-g .redes {
  display: flex;
  height: inherit;
  align-items: center;
}
#nav-g .redes a {
  height: 50%;
  margin: 10%;
}
#nav-g .redes a img {
  margin: 10%;
  background-color: #fff;
  border-radius: 30%;
}

#footer-g {
  background-color: #426DB4;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  height: 40vh;
  color: #ffffff;
}
#footer-g .titulo {
  display: grid;
  place-items: center;
}
#footer-g .titulo img {
  height: 10rem;
}
#footer-g .titulo h3 {
  font-family: "Libre Baskerville", serif;
  font-size: 0.8rem;
}
#footer-g .datos {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}
#footer-g .datos img {
  place-self: end;
  padding-right: 1rem;
}
#footer-g .datos a {
  place-self: end;
}
#footer-g .datos p {
  place-self: center start;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 30%;
}
form fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  margin: 0.5rem;
}
form fieldset .legajo {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  transform: translatex(-4mm);
}
form fieldset .legajo label {
  padding: 0 0 0 10px;
}
form input, form textarea {
  margin: 0 0 15px 15px;
}
form textarea {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 15px;
}

#element-to-print {
  max-width: 210mm;
}

.inscripcion {
  max-height: 297mm;
  width: 180mm;
  padding: 10mm 10mm 5mm 10mm;
}
.inscripcion h1 {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  margin: 10mm;
  text-decoration: underline;
}
.inscripcion h2 {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  text-align: end;
}
.inscripcion h3 {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 10pt;
  font-weight: bold;
}
.inscripcion h4 {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 10pt;
  font-weight: bold;
}
.inscripcion p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
}
.inscripcion .data {
  margin-top: 15mm;
}
.inscripcion .firma {
  margin: 20mm 30mm 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.inscripcion .firma div {
  display: grid;
  place-items: center;
  margin-bottom: 10mm;
  align-self: end;
}
.inscripcion .firma div p {
  margin: 0;
}
.inscripcion hr {
  border-top: 2px dashed;
}
.inscripcion .datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}
.inscripcion .datos img {
  max-width: 200px;
}
.inscripcion .datos p {
  text-align: center;
}

/*# sourceMappingURL=afiliacion.css.map */
