@use "../layout/univreset";
@use "../layout/header";
@use "../layout/nav";
@use "../layout/footer";
@use "../abstracts/" as *;


main{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#noticias{
    display: flex;
    flex-direction: column;
    h1{
        font-family: $texto;
        color: $shade1;
        margin: 1rem;
    }

    article{
        max-width: 100%;
        max-height: 10rem;
        display: grid;
        grid-template-columns: 1fr 2fr;
        border-radius: .25rem;
        box-shadow: $sombra;
        margin: 1rem;
        padding: 1rem;
        img{
            max-height: 10rem;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        h2{
            font-family: $titulo;
        }
        p{
            font-family: $subtitulo;

        }
    }
    
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;

    iframe{
        max-width: 100%;
        border-radius: 1rem;
        box-shadow: $sombra;
        margin: 1rem;
        place-self: center;
    }

    a{
        img{
            width: 340px;
            border-radius: 1rem;
            box-shadow: $sombra;
        }
    }
}