@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');


$texto: 'Poppins', sans-serif;
$titulo: 'Rozha One', serif;
$subtitulo: 'Libre Baskerville', serif;